html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5eaf1;
  font-size: 2em;
}

*,
:after,
:before {
  box-sizing: border-box;
}
